{% if user.is_authenticated %}
<h1>You are already Logged In</h1>
<a href="{% url 'dashboard' %}">Dashboard</a><br>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
{% include "twpn/header.html" %}

<center>
<div class="form-group" style="border: 2px solid black; margin-left: 20%; margin-right: 20%; ">
	<form method="POST">
		{% csrf_token %}
		
  <div class="field-group">
    <input type="text" class="form-control" name="username" placeholder="Username" style="width: 70%; height: 30px; font-size: 25px; margin: 10px;"><br>
    <input type="password" class="form-control" name="password" placeholder="Password" style="width: 70%; height: 30px; font-size: 25px;">
  </div>
  <br>
		<button class="btn btn-secondary" style="margin-bottom: 10px;">Login</button>
    <!-- <p>Not Registered? Sign Up <a href="{% url 'registration' %}">Here...</a></p> -->
  </form>
</div>
<br/>
<center>


{% include "twpn/footer.html" %}
{% endif %}