{% if user.is_authenticated %}
{% include "twpn/dashboardheader.html" %}
<div class="data">
    {% load static %}
    {% for vendor in vendors %}
    {% for image in images %}
    {% if image.vendor_id.vendor_user.id == user.id %}
    {% if vendor.vendor_user.id == user.id %}
    <center>
        <div class="dashboard-image">
            <img src="/media/{{image.image}}" alt="{{image.image_descName}}">
        </div>
        <div class="dashboard-name">
            <p>{{vendor.vendor_name}}</p>
        </div>
        <div class="dashboard-detail">
            <p>{{vendor.vendor_desc}}</p>
        </div>
        <br>
        <div class="dashboard-info1">
            <p>Address: {{vendor.vendor_address}}</p>
            <p>Contact: {{vendor.vendor_contact}}</p>
        </div>
        <br>
        <div class="dashboard-info2">
            <p>Email: {{vendor.vendor_email}}</p>
        </div>
    </center>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% else %}
<h1>Please login here.</h1>
<a href="{% url 'login' %}">Login</a><br>
<a href="{% url 'TWPN Home' %}">Home</a>
{% endif %}